.social_share_privacy_area {
	clear: both;
	margin: 5px 0;
	list-style-type: none;
	padding: 0;
	width: auto;
	display: block;
}
.social_share_privacy_area.line {
	height: 25px;
	line-height: 16px;
}
.social_share_privacy_area.box {
	width: 95px;
}
.social_share_privacy_area li {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none !important;
}
.social_share_privacy_area.box li {
	text-align: center;
}
.social_share_privacy_area.line li {
	height: 21px;
	float: left;
}
.social_share_privacy_area li .dummy_btn {
    cursor: pointer;
    padding: 0;
    height: inherit;
}
.social_share_privacy_area.line li .dummy_btn {
    float: left;
    margin: 0 20px 0 10px;
}
.social_share_privacy_area.box li .dummy_btn {
	margin-bottom: 10px;
}
.social_share_privacy_area li .dummy_btn img.privacy_dummy {
    width: 61px;
    height: auto;
}
.social_share_privacy_area li .dummy_btn img.privacy_dummy.fb_like_privacy_dummy {
	width: 54px;
}

.social_share_privacy_area li .dummy_btn img.privacy_dummy,
.social_share_privacy_area li .dummy_btn iframe {
	vertical-align: bottom;
}
.social_share_privacy_area li .dummy_btn iframe {
    overflow: hidden;
    height: inherit;
    width: inherit;
	border-style: none;
}
.social_share_privacy_area.line li {
    display: inline-block;
}
/* Switch begin */
.social_share_privacy_area li .switch {
    display: inline-block;
    text-indent: -9999em;
    background: transparent url(../images/socialshareprivacy_on_off@2x.png) no-repeat 0 0 scroll;
    background-size: 100% auto;
    width: 23px;
    height: 12px;
    overflow: hidden;
    margin: 4px 0 0;
    padding: 0;
    cursor: pointer;
}
.social_share_privacy_area.line li .switch {
    float: left;
}
.social_share_privacy_area li .switch.on {
    background-position: 0 -12px;
}
/* Switch end */
/* Tooltips begin */
.social_share_privacy_area li.help_info {
    position: relative;
}
.social_share_privacy_area li.settings_info,
.social_share_privacy_area li.help_info .info {
	text-align: left;
}
.social_share_privacy_area li.help_info .info,
.social_share_privacy_area li .help_info.icon .info {
    display: none;
    position: absolute;
    bottom: 40px;
    width: 290px;
    padding: 10px 15px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    background-color: #fdfbec;
    color: #000;
    z-index: 500;
}
.social_share_privacy_area.line li.help_info .info,
.social_share_privacy_area li .help_info.icon .info {
    left: 0;
}
.social_share_privacy_area.box li.help_info .info {
	left: 100%;
	top: 0px;
	bottom: auto;
}
.social_share_privacy_area li .help_info.icon .info {
    width: 350px;
}
.social_share_privacy_area li.help_info.display .info,
.social_share_privacy_area li .help_info.icon.display .info {
    display: block;
}
.social_share_privacy_area li.help_info.info_off.display .info {
    display: none;
}
.social_share_privacy_area li .help_info.icon {
    background: #fff url(../images/socialshareprivacy_info.png) no-repeat center center scroll;
    width: 25px;
    height: 20px;
    position: relative;
    display: inline-block;
	vertical-align: top;
	border: 2px solid #e7e3e3;
	border-right-width: 0;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
    margin: 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
	border-right-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* Tooltips end */
/* Settings/Info begin */
.social_share_privacy_area li.settings_info {
	position: relative;
	top: -2px;
}
.social_share_privacy_area li.settings_info a {
	text-decoration: none;
	margin: 0 !important;
}
.social_share_privacy_area li.settings_info .settings_info_menu {
    background-color: #f3f4f5;
    color: #000;
	border-style: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    left: 0;
    position: absolute;
    top: 0;
    min-width: 135px;
    margin: 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.on {
	z-index: 1000;
}
.social_share_privacy_area li.settings_info .settings_info_menu.off {
	border-width: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
.social_share_privacy_area li.settings_info .settings_info_menu.off form {
	display: none;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu .settings {
	text-indent: -9999em;
	display: inline-block;
	background: #fff url(../images/settings@2x.png) no-repeat center center scroll;
	background-size: 15px auto;
	width: 25px;
	height: 20px;
	border: 2px solid #e7e3e3;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #ddd;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset {
    border-width: 0;
    margin: 0;
    padding: 0 10px 10px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset legend {
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 10px 0;
	width: 115px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset input {
    margin: 4px 10px 4px 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
	-moz-transition: color .5s ease-in;
	-webkit-transition: color .5s ease-in;
	transition: color .5s ease-in;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label.checked {
	color: #090;
}
/* Settings/Info end */

/* facebook */
.social_share_privacy_area.line .facebook .fb_like {
	width: 115px;
}
.social_share_privacy_area.line .facebook iframe {
	width: 115px;
	height: 21px;
}
.social_share_privacy_area.box .facebook iframe {
	width: 62px;
	height: 62px;
}

/* twitter */
.social_share_privacy_area.line li div.tweet {
	width: 115px;
}
.social_share_privacy_area.line .twitter iframe {
	width: 115px;
	height: 20px;
}
.social_share_privacy_area.box .twitter iframe {
	width: 62px;
	height: 62px;
}


/* linkedin */
.social_share_privacy_area.line .linkedin img.linkedin_privacy_dummy {
	width: 55px;
	height: 20px;
}
.social_share_privacy_area.box .linkedin img.linkedin_privacy_dummy {
	width: 61px;
	height: 62px;
}
.social_share_privacy_area.box .linkedin .dummy_btn {
	min-width: 61px;
	min-height: 62px;
}

/* stumbleupon */
.social_share_privacy_area.line .stumbleupon iframe,
.social_share_privacy_area.line .stumbleupon img {
	width: 74px;
	height: 18px;
}
.social_share_privacy_area.box .stumbleupon iframe,
.social_share_privacy_area.box .stumbleupon img {
	width: 50px;
	height: 60px;
}

/* google plus */
.social_share_privacy_area.line .gplus img.gplusone_privacy_dummy {
	width: 32px;
}
.social_share_privacy_area.line li div.gplusone {
	width: 90px;
}
.social_share_privacy_area.box li div.gplusone {
	min-width: 50px;
	min-height: 65px;
}

/* reddit */
.social_share_privacy_area.line .reddit iframe {
	width: 120px;
	height: 18px;
}
.social_share_privacy_area li.reddit {
	/* width: 150px !important; */
}

/* layout fixes */
li.linkedin {
	/* clear: left; */
}
.social_share_privacy_area li {
	width: 170px;
}
body .social_share_privacy_area li {
	margin-bottom: 12px !important;
}
body .social_share_privacy_area.line li .dummy_btn {
    /* margin: 0 0 0 6px; */
}
body .social_share_privacy_area li .help_info.icon {
	/* margin-left: 29px; */
}
body .social_share_privacy_area li.settings_info .settings_info_menu {
		min-width: 130px;
    width: 130px;
}
.social_share_privacy_area.line {
	/* max-width: 606px; */
}



.social_share_privacy_area {
	clear: both;
	margin: 5px 0;
	list-style-type: none;
	padding: 0;
	width: auto;
	display: block;
}
.social_share_privacy_area.line {
	height: 25px;
	line-height: 16px;
}
.social_share_privacy_area.box {
	width: 95px;
}
body .social_share_privacy_area li {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none !important;
	width: 150px;
}
.social_share_privacy_area.box li {
	text-align: center;
}
.social_share_privacy_area.line li {
	height: 21px;
	float: left;
}
.social_share_privacy_area li .dummy_btn {
	cursor: pointer;
	padding: 0;
	height: inherit;
}
body .social_share_privacy_area.line li .dummy_btn {
	float: left;
	margin: 0 10px 0 5px;
	width: 88px;
}
.social_share_privacy_area.box li .dummy_btn {
	margin-bottom: 10px;
}
.social_share_privacy_area li .dummy_btn img.privacy_dummy,
.social_share_privacy_area li .dummy_btn iframe {
	vertical-align: bottom;
}
.social_share_privacy_area li .dummy_btn iframe {
	overflow: hidden;
	height: inherit;
	width: inherit;
	border-style: none;
}
.social_share_privacy_area.line li {
	display: inline-block;
}
/* Switch begin */
.social_share_privacy_area li .switch {
	display: inline-block;
	text-indent: -9999em;
	background: transparent url(../images/socialshareprivacy_on_off@2x.png) no-repeat 0 0 scroll;
	background-size: 100% auto;
	width: 23px;
	height: 12px;
	overflow: hidden;
	margin: 4px 0 0;
	padding: 0;
	cursor: pointer;
}
.social_share_privacy_area.line li .switch {
	float: left;
}
.social_share_privacy_area li .switch.on {
	background-position: 0 -12px;
}
/* Switch end */
/* Tooltips begin */
.social_share_privacy_area li.help_info {
	position: relative;
}
.social_share_privacy_area li.settings_info,
.social_share_privacy_area li.help_info .info {
	text-align: left;
}
.social_share_privacy_area li.help_info .info,
.social_share_privacy_area li .help_info.icon .info {
	display: none;
	position: absolute;
	bottom: 40px;
	width: 290px;
	padding: 10px 15px;
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	background-color: #fdfbec;
	color: #000;
	z-index: 500;
}
.social_share_privacy_area.line li.help_info .info,
.social_share_privacy_area li .help_info.icon .info {
	left: 0;
}
.social_share_privacy_area.box li.help_info .info {
	left: 100%;
	top: 0px;
	bottom: auto;
}
.social_share_privacy_area li .help_info.icon .info {
	width: 350px;
}
.social_share_privacy_area li.help_info.display .info,
.social_share_privacy_area li .help_info.icon.display .info {
	display: block;
}
.social_share_privacy_area li.help_info.info_off.display .info {
	display: none;
}
.social_share_privacy_area li .help_info.icon {
	background: #fff url(../images/socialshareprivacy_info.png) no-repeat center center scroll;
	width: 25px;
	height: 20px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 2px solid #e7e3e3;
	border-right-width: 0;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
	border-right-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* Tooltips end */
/* Settings/Info begin */
.social_share_privacy_area li.settings_info {
	position: relative;
	top: -2px;
}
.social_share_privacy_area li.settings_info a {
	text-decoration: none;
	margin: 0 !important;
}
body .social_share_privacy_area li.settings_info .settings_info_menu {
	background-color: #f3f4f5;
	color: #000;
	border-style: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	left: auto; /*0 for left justified popup*/
	right: 0; /*comment out for left justified popup*/
	position: absolute;
	top: 0;
	min-width: 135px;
	margin: 0;
	padding: 0;
}
body .social_share_privacy_area li.settings_info .settings_info_menu.on {
	z-index: 1000;
}
body .social_share_privacy_area li.settings_info .settings_info_menu.off {
	border-width: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
.social_share_privacy_area li.settings_info .settings_info_menu.off form {
	display: none;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu .settings {
	text-indent: -9999em;
	display: inline-block;
    background: #fff url(../images/settings@2x.png) no-repeat center center scroll;
    background-size: 15px auto;
	width: 25px;
	height: 20px;
	border: 2px solid #e7e3e3;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #ddd;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset {
	border-width: 0;
	margin: 0;
	padding: 0 10px 10px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset legend {
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	margin: 0;
	padding: 10px 0;
	width: 76px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset input {
	margin: 4px 10px 4px 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label {
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	-moz-transition: color .5s ease-in;
	-webkit-transition: color .5s ease-in;
	transition: color .5s ease-in;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label.checked {
	color: #090;
}
/* Settings/Info end */

/* facebook */
body .social_share_privacy_area.line li.facebook {
	width: 126px;
}

body .social_share_privacy_area.line .facebook .fb_like {
	width: 88px;
}
body .social_share_privacy_area.line .facebook iframe {
	width: 88px;
	height: 21px;
}
.social_share_privacy_area.box .facebook iframe {
	width: 62px;
	height: 62px;
}

/* twitter */
body .social_share_privacy_area.line li div.tweet {
	width: 94px;
}
body .social_share_privacy_area.line .twitter {
	width: 134px;
}
body .social_share_privacy_area.line .twitter iframe {
	width: 94px;
	height: 20px;
}
body .social_share_privacy_area.box .twitter iframe {
	width: 62px;
	height: 62px;
}


/* google plus */
body .social_share_privacy_area.line .gplus {
	width: 120px;
}
.social_share_privacy_area.line .gplus img.gplusone_privacy_dummy {
	width: 32px;
}
body .social_share_privacy_area.line li div.gplusone {
	width: 80px;
}
.social_share_privacy_area.box li div.gplusone {
	min-width: 50px;
	min-height: 65px;
}


/* layout fixes */
#content ul.social_share_privacy_area {
	padding: .5em 0 0 0;
}
.social_share_privacy_area li {
	width: 130px;
}
.social_share_privacy_area li.settings_info {
	width: 58px;
}

body .social_share_privacy_area li {
	margin-bottom: 12px !important;
}
body .social_share_privacy_area li .help_info.icon {
	margin-left: 75px; /* comment out for left justified popup*/
}
body .social_share_privacy_area li.settings_info .settings_info_menu {
	min-width: 130px;
	width: 130px;
}
.social_share_privacy_area.line {
}

/* Print layout */
@media print {
	.sidebar,.nav,.share,#powered { display: none; }
	#disclaim { margin-top: 1.5em; }
	body, body #wrapper, body #wrapper #main, body #wrapper #main #content { width:100%; margin: 0; padding: 0; border: none;}
	body #header {background: none; height: auto; }
	body #header h1 {margin: 0; padding: .3em 0; border-bottom: 6px solid black; }
	body { font-size: 12pt; }
}
